#elevator {
    position: absolute;
    left: 50%;
    width: 700px;
    transform: translate(-50%);
}

#mute {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 6%;
  z-index: 50;
}

#button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: red;
    display: block;
    z-index: 1;
}

#elevator-landing-icon {
    width: 700px;
}

#elevator-landing-text {
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);

}

h1, h2, h3, h4, p {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

#container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0px;
    margin: 0px;
    background-image: url("trace.svg");
    background-position: 25% 0%;
    background-size: 120%;
}

#interior {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    position: absolute;
    pointer-events: none;
}

#buttons {
    z-index: 4;
    position: relative;
    top: 25%;
    left: 100%;
    padding-left: 45px;
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
    pointer-events: auto;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-50%);
    z-index: 3;
    pointer-events: none;
}

.button_imgs {
    width: 70px;
}

@media (max-width: 1200px) {
    #interior {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-height: 950px) {
  #interior {
      background-size: 99.7%;
      background-repeat: no-repeat;
      background-position: center;
      top: 0%;
  }

  #mute {
    top: 70px;
    left: 30px;
  }
}

  #info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 275px;
    height: 500px;
    top: 20%;
    z-index: 1;
    color: white;
    overflow-y:scroll;
    pointer-events: auto;
  }

  #marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    color: white;
    width: 180px;
    height: 45px;
    top: 25%;
    left: 100%;
    margin-left: 10px;
    margin-top: -355px;
    font-size: 3em;
  }
  
  #marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 9s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }